.view {
    background: url('https://mdbootstrap.com/img/Photos/Others/img (51).jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    z-index: 1;
}

.bg {
    background-image: url('../assets/img/background-2462431_1920.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
