<div class="home-container d-flex flex-column justify-content-center mx-5 sp-theme">
    <div class="col-md-6 mx-auto">
        <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
            <label for="search">Search</label>
        </div>
    </div>

    <div class="col-md-10 mx-auto">
        <table mdbTable hover="true" class="z-depth-3">
            <thead class="primary-color">
                <tr>
                    <th *ngFor="let head of headElements; let i = index" scope="col">
                        {{ head }}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topic of topics; let i = index">
                    <th scope="row">{{ topic.name }}</th>
                    <td class="red-text">{{ topic.postsCount }}</td>
                    <mdb-icon size="3x" fas icon="eye" class="orange-text" [routerLink]="['/topic', topic.name]"></mdb-icon>
                </tr>
            </tbody>
        </table>
    </div>
</div>
