<div class="home-container d-flex flex-column justify-content-center mx-5">
    <div class="col-md-6 mx-auto">
        <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
            <label for="search">Search</label>
        </div>
    </div>

    <div class="col-md-8 mx-auto">
        <table mdbTable hover="true" class="z-depth-3">
            <thead class="primary-color">
                <tr>
                    <th *ngFor="let head of headElements; let i = index" scope="col">
                        {{ head }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of elements; let i = index">
                    <th scope="row">{{ el.id }}</th>
                    <td class="red-text">{{ el.first }}</td>
                    <td>{{ el.last }}</td>
                    <td>{{ el.handle }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
