<ngx-graph layout="colaForceDirected" [view]="[800, 600]" [center$]="center$" [zoomToFit$]="zoomToFit$" nodeMinHeight="200" [links]="links" [nodes]="nodes">
    <ng-template #nodeTemplate let-node>
        <svg:g class="node">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{ node.label }}</svg:text>
        </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
        <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            <!-- <svg:text class="edge-label" text-anchor="middle">
                <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">testestst</textPath>
            </svg:text> -->
        </svg:g>
    </ng-template>
</ngx-graph>
