<div class="topic-container d-flex flex-column justify-content-center mx-5 sp-theme">
    <div class="col-md-6 mx-auto">
        <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
            <label for="search">Search</label>
        </div>
    </div>

    <div class="col-md-8 mx-auto">
        <table mdbTable hover="true" class="z-depth-3">
            <thead class="primary-color">
                <tr>
                    <th *ngFor="let head of headElements; let i = index" scope="col">
                        {{ head }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts; let i = index" (click)="onTopicSelected(i)">
                    <th scope="row">{{ post.author }}</th>
                    <th scope="row">{{ post.name }}</th>
                    <td class="red-text">{{ post.score }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="d-flex justify-content-center">
                            <button type="button" mdbBtn color="primary" mdbWavesEffect>Add Topic</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
