<div class="profile-container mx-5">
    <div class="row">
        <div class="col-md-3">
            <mdb-card cascade="true" narrower="true">
                <!--Card image-->
                <!-- <div class="view view-cascade overlay hm-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="rounded-circle img-fluid"></mdb-card-img>
                </div> -->
                <div class="view view-cascade overlay hm-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img [src]="(profileData$ | async)?.imagePath" [alt]="'test'" class="rounded-circle img-fluid"></mdb-card-img>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center">
                    <!--Title-->
                    <h4 class="card-title font-bold mb-2">
                        <strong>{{ (profileData$ | async)?.displayName }}</strong>
                    </h4>
                    <h5 class="indigo-text"><strong>Knowledge Activist</strong></h5>

                    <hr />
                    <p class="text-center">
                        {{ (profileData$ | async)?.about }}
                    </p>
                    <hr />
                    <h6><mdb-icon class="orange-text" size="2x" fas icon="crown"></mdb-icon>{{ (profileData$ | async)?.score }}</h6>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->

            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="mt-5">
                <!--Card image-->
                <div class="view view-cascade gradient-card-header secondary-color">
                    <h4 class="h4-responsive">Achievements</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center">
                    <div class="chip" *ngFor="let achievement of (profileData$ | async)?.achievements">
                        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/158907-200.png" class="img-fluid" />
                        {{ achievement }}
                    </div>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
        </div>
        <div class="col md-6">
            <div class="profile-wrapper my-auto">
                <!-- Nav tabs -->
                <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-secondary tabs-3'" [justified]="true" [contentClass]="'card'">
                    <!--Panel 1-->
                    <mdb-tab heading="Profile Data">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="profileForm" autocomplete="off" class="text-center" style="color: #757575">
                                    <div class="form-row">
                                        <!-- E-mail -->
                                        <div class="col">
                                            <div class="md-form">
                                                <input
                                                    autocomplete="“off”"
                                                    type="email"
                                                    id="materialRegisterFormEmail"
                                                    class="form-control"
                                                    formControlName="email"
                                                    mdbInput
                                                />
                                                <label for="materialRegisterFormEmail">E-mail</label>
                                            </div>
                                        </div>

                                        <!-- Display Name -->
                                        <div class="col">
                                            <div class="md-form">
                                                <input
                                                    autocomplete="“off”"
                                                    type="text"
                                                    id="materialRegisterFormDisplayName"
                                                    class="form-control"
                                                    formControlName="displayName"
                                                    mdbInput
                                                />
                                                <label for="materialRegisterFormDisplayName">Display name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <!-- First name -->
                                            <div class="md-form">
                                                <input
                                                    autocomplete="off"
                                                    type="text"
                                                    id="materialRegisterFormFirstName"
                                                    class="form-control"
                                                    formControlName="firstName"
                                                    mdbInput
                                                />
                                                <label for="materialRegisterFormFirstName">First name</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- Last name -->
                                            <div class="md-form">
                                                <input
                                                    autocomplete="off"
                                                    type="text"
                                                    id="materialRegisterFormLastName"
                                                    class="form-control"
                                                    formControlName="lastName"
                                                    mdbInput
                                                />
                                                <label for="materialRegisterFormLastName">Last name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="md-form">
                                        <textarea
                                            class="md-textarea form-control"
                                            rows="3"
                                            id="input_text"
                                            type="text"
                                            length="120"
                                            mdbCharCounter
                                            mdbInput
                                            formControlName="about"
                                        ></textarea>
                                        <label for="input_text">About</label>
                                    </div>
                                    <div class="row d-flex, justify-content-center my-3 align-items-center">
                                        <mdb-icon size="3x" fas icon="camera" (click)="profilePictureInput.click()"></mdb-icon>
                                        <p class="pt-3 pl-3">Upload photo</p>
                                    </div>

                                    <input accept="image/*" #profilePictureInput hidden type="file" (change)="uploadProfilePicture($event)" />
                                    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                                        <img [src]="imagePreview" />
                                    </div>

                                    <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="onUpdateProfile(profileForm)">Update Profile</button>
                                </form>
                            </div>
                        </div>
                    </mdb-tab>
                    <!--Panel 2-->
                    <mdb-tab heading="Activity">
                        <div class="row">
                            <div class="col-12">
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Followed Topics:</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <mdb-material-chips *ngIf="followedTopics !== (undefined || null)" [(ngModel)]="followedTopics"></mdb-material-chips>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Followed Users:</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <mdb-material-chips
                                            color="red"
                                            *ngIf="followedUsers !== (undefined || null)"
                                            [(ngModel)]="followedUsers"
                                        ></mdb-material-chips>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Rank</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="div" *ngFor="let r of (profileData$ | async)?.rank">
                                            <div class="row my-2">
                                                <div class="col-md-6">
                                                    {{ r.topicName }}
                                                </div>
                                                <div class="col-md-6 orange-text">
                                                    {{ r.rank }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Score:</h4>
                                    </div>
                                    <div class="col-md-8">
                                        {{ (profileData$ | async)?.score }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                </mdb-tabset>
            </div>
        </div>
    </div>
</div>
