<div class="profile-container mx-5">
    <div class="row">
        <div class="col-md-3">
            <mdb-card cascade="true" narrower="true">
                <!--Card image-->
                <div class="view view-cascade overlay hm-white-slight waves-light" mdbWavesEffect>
                    <!-- <div class="avatar mx-auto white"> -->
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="rounded-circle img-fluid"></mdb-card-img>
                    <!-- </div> -->

                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="img-fluid" />
                    <a>
                        <div class="mask"></div>
                    </a> -->
                </div>
                <!--/Card image-->

                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center">
                    <!--Title-->
                    <h4 class="card-title font-bold mb-2"><strong>Nebiamin</strong></h4>
                    <h5 class="indigo-text"><strong>Knowledge Activist</strong></h5>

                    <h6 class="text-justify"><strong>About:</strong></h6>
                    <p class="text-justify">
                        {{ (profileData$ | async)?.about }}
                    </p>

                    <div class="text-right">
                        <button type="button" mdbBtn outline="true" color="primary" rounded="true" size="sm" mdbWavesEffect>More...</button>
                    </div>

                    <hr />
                    <!--Linkedin-->
                    <a class="icons-sm li-ic px-3">
                        <mdb-icon fab icon="linkedin-in"></mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic px-3">
                        <mdb-icon fab icon="twitter"></mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="icons-sm fb-ic px-3">
                        <mdb-icon fab icon="facebook-f"></mdb-icon>
                    </a>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->

            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="mt-5">
                <!--Card image-->
                <div class="view view-cascade gradient-card-header secondary-color">
                    <h4 class="h4-responsive">Achievments</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center">
                    <div class="chip" *ngFor="let achievement of (profileData$ | async)?.achievements">
                        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/158907-200.png" class="img-fluid" />
                        {{ achievement }}
                    </div>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
        </div>
        <div class="col md-6">
            <div class="profile-wrapper my-auto">
                <!-- Nav tabs -->
                <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-secondary tabs-3'" [justified]="true" [contentClass]="'card'">
                    <!--Panel 1-->
                    <mdb-tab heading="Profile Data">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
                                    placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.
                                </p>
                            </div>
                        </div>
                    </mdb-tab>
                    <!--Panel 2-->
                    <mdb-tab heading="Activity">
                        <div class="row">
                            <div class="col-12">
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Followed Topics:</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <mdb-material-chips *ngIf="followedTopics !== (undefined || null)" [(ngModel)]="followedTopics"></mdb-material-chips>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Followed Users:</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <mdb-material-chips
                                            color="red"
                                            *ngIf="followedUsers !== (undefined || null)"
                                            [(ngModel)]="followedUsers"
                                        ></mdb-material-chips>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Rank</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="div" *ngFor="let r of (profileData$ | async)?.rank">
                                            <div class="row my-2">
                                                <div class="col-md-6">
                                                    {{ r.topicName }}
                                                </div>
                                                <div class="col-md-6 orange-text">
                                                    {{ r.rank }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-md-4">
                                        <h4 class="text-center">Score:</h4>
                                    </div>
                                    <div class="col-md-8">
                                        {{ (profileData$ | async)?.score }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                </mdb-tabset>
            </div>
        </div>
    </div>
</div>
