.md-form {
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='url'],
    input[type='time'],
    input[type='date'],
    input[type='datetime-local'],
    input[type='tel'],
    input[type='number'],
    input[type='search-md'],
    input[type='search'],
    textarea.md-textarea {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 0.5rem;
        color: black;
    }
}
